<div class="ps-2 pt-1">
    <app-go-back></app-go-back>
   
</div>
<div class="pt-5">
    <div class="w-100 d-flex justify-content-center mb-5 mt-2 ">
        <span class="lg-fs text-main">iyandikishe</span>
    </div>

<div class="px-4 ">
    <div 
    class=""
    
    >
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="username" 
             placeholder="Username"
             >
            <label for="email" class="">Akazina ukoresha</label>

        </div>
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="username" 
             placeholder="Username"
             >
            <label for="email" class="">itazirano</label>

        </div>
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="username" 
             placeholder="Username"
             >
            <label for="email" class="">izina</label>

        </div>
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="username" 
             placeholder="Username"
             >
            <label for="email" class="">agasandugu k'ubutumwa</label>

        </div>
        <div class="d-grid">
            <div class="input-group mb-2">
                <div class="form-floating">
                    <input 
                type="{{ passwordVisible ? 'text' : 'password' }}" 
                class="form-control border input rounded" 
                id="password" 
                placeholder="Password"
                formControlName="password">
              <label for="password" class="mb-1">Akabanga</label>

                </div>
                
                <span class="password-toggle" 
                >
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="passwordVisible">
                    <i class="fa fa-eye"></i>
                </span>
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="!passwordVisible">
                    <i class="fa fa-eye-slash"></i>
                </span>
                                        
                </span>
            </div>
        
        </div>
        <div class="d-grid">
            <div class="input-group mb-2">
                <div class="form-floating">
                    <input 
                type="{{ passwordVisible ? 'text' : 'password' }}" 
                class="form-control border input rounded" 
                id="password" 
                placeholder="Password"
                formControlName="password">
              <label for="password" class="mb-1">Akabanga</label>

                </div>
                
                <span class="password-toggle" 
                >
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="passwordVisible">
                    <i class="fa fa-eye"></i>
                </span>
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="!passwordVisible">
                    <i class="fa fa-eye-slash"></i>
                </span>
                                        
                </span>
            </div>
        
        </div>
        <br><br>

        <div class="w-100 d-flex justify-content-center mt-4">
            <button 
            type="submit"
            class="bg-main rounded text-white p-2 px-5 border border-none">
                <b>iyandikishe</b>
            </button>

        </div>
        <div class=" w-100 d-flex justify-content-center mt-2">
            <div>
                <span>Already have an account ? </span>
                <b
                 class="text-main"
                 routerLink="/login"
                 role="button">injira</b>
            </div>
        </div>
        
        
        
    </div>
</div>
</div>
<div class="position-fixed w-100"
style="bottom: 0;">
<app-footer></app-footer>


</div>
