<div class="ps-2 pt-1">
    <app-go-back></app-go-back>
   
</div>
<div class="pt-5">
    <div class="w-100 d-flex justify-content-center mb-5 mt-2 ">
        <span class="lg-fs text-main">iyandikishe</span>
    </div>

<div class="px-4 ">
    <div 
    class=""
    [formGroup]="registerForm"

    
    >
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="username" 
             placeholder="Username"
             formControlName="username"
             >
            <label for="username" class="">Akazina ukoresha</label>

        </div>
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
            id="firstname" 
             placeholder="itazirano"
             formControlName="first_name"

             >
            <label for="firstname" class="">itazirano</label>

        </div>
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="lastname" 
             placeholder="izina"
             formControlName="last_name"
             >
            <label for="lastname" class="">izina</label>

        </div>
        <div class="d-grid mb-2 form-floating">
            <input
             type="text" 
             class="form-control border input rounded" 
             id="email" 
             placeholder="agasandugu k'ubutumwa"
             formControlName="email"
             >
            <label for="email" class="">agasandugu k'ubutumwa</label>

        </div>
        <div class="d-grid">
            <div class="input-group mb-2">
                <div class="form-floating">
                    <input 
                type="{{ passwordVisible ? 'text' : 'password' }}" 
                class="form-control border input rounded" 
                id="password" 
                placeholder="akabanga"
                formControlName="password">
              <label for="password" class="mb-1">Akabanga</label>

                </div>
                
                <span class="password-toggle" 
                >
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="passwordVisible">
                    <i class="fa fa-eye"></i>
                </span>
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="!passwordVisible">
                    <i class="fa fa-eye-slash"></i>
                </span>
                                        
                </span>
            </div>
        
        </div>
        <div class="d-grid">
            <div class="input-group mb-2">
                <div class="form-floating">
                    <input 
                type="{{ passwordVisible ? 'text' : 'password' }}" 
                class="form-control border input rounded" 
                id="password1" 
                placeholder="akabanga"
                formControlName="password2">
              <label for="password2" class="mb-1">Emeza akabanga</label>

                </div>
                
                <span class="password-toggle" 
                >
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="passwordVisible">
                    <i class="fa fa-eye"></i>
                </span>
                <span
                (click)="togglePasswordVisibility()"
                *ngIf="!passwordVisible">
                    <i class="fa fa-eye-slash"></i>
                </span>
                                        
                </span>
            </div>
            <small 
            class="text-danger"
            *ngIf="registerForm.value.password && registerForm.value.password2 && registerForm.value.password !==registerForm.value.password2 "
            >akabanga washizemwo ntigasa nakambere</small>
        
        </div>
        <br><br>

        <div class="w-100 d-flex justify-content-center mt-4">
            <button 
            type="submit"
            (click)="register()"
            [disabled]="registerForm.invalid || registerForm.value.password !== registerForm.value.password2"
            class="bg-main rounded text-white p-2 px-5 border border-none">
                <b
                *ngIf="!isLoading"

                >iyandikishe</b>
                <div 
                    class="d-flex align-items-center"
                    *ngIf="isLoading"
                    >
                        <span 

                    class=" spinner-border me-1 text-white"
                    ></span>
                    

                    </div>
            </button>

        </div>
        <div class=" w-100 d-flex justify-content-center mt-2">
            <div>
                <span>Already have an account ? </span>
                <b
                 class="text-main"
                 routerLink="/login"
                 role="button">injira</b>
            </div>
        </div>
        
        
        
    </div>
</div>
</div>
<div class="position-fixed w-100"
style="bottom: 0;">
<app-footer></app-footer>


</div>
