<div class="bg-grey psm-y text-white d-flex justify-content-center align-items-center">
    <span class="me-2">Wagize ikibazo ?</span>
    <a
             href="whatsapp://send?phone=+25765526631"
            class="d-flex align-items-center justify-content-between fs-6" 
            role="button"
            style="text-decoration: none; color:#36AE7C"
            >
            <div
            class="d-flex align-items-center">
                <span class="bg-main text-white p-1 rounded">Ronka bufasha</span>
            </div>

                
            </a>


</div>