<div class="mt-4 p-1" class="">
<canvas id="canvas" #canvas></canvas>

   <br><br><br><br><br>
   <div class="w-100 d-flex justify-content-center">
    <img 
    class="bg-main"
    style="width: 30%;"
    src="../../../assets/images/wave.gif"
    alt="">

   </div>
   <br><br><br>
  
    <div class="">
        <div class="w-100 h-100 align-items-center d-flex justify-content-center">
            <button
            (click)="startGame()"
             style="border: 10%; border:none"
              class="bg-main rounded text-white p-2 shadow">
                <b>Tangura agakino</b>
            </button>
        </div>
        <br><br><br><br>
        <div class="text-center">
           <span>Woba uri mushasha murikano gakino ? </span><br>
           <b class="text-main"
           role="button"
           routerLink="/instructions"
           >Raba uko wobigenza</b>
        </div>

    </div>
</div>