@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}