<!-- <div class="ps-2 pt-1">
    <app-go-back></app-go-back>
</div> -->

<!--  -->
<div style="width: 337px; height: 680px; background: #36AE7C; border-radius: 30px"></div>
<!-- Enlarged photo modal -->
<div class="photo-modal" [ngClass]="{ 'show-modal': isPhotoOpen }">
    <b
     class="float-end mb-2 ms-2" 
     (click)="closePhoto()"
     role="button">
        <i class="fs-1 fa fa-times"></i>
    </b>
    <img [src]="enlargedPhotoUrl" alt="Enlarged User Photo" class="enlarged-photo">
   
</div>
<div class="overlay" [ngClass]="{ 'show-overlay': isPhotoOpen }"></div>
