<div class="p-3">
    <div class="m-2 lg-fs">
        <b>Ingene bigenda</b>
    </div>
    <div class="mt-4">
        <p class="md-fs" style="line-height:30px">
            <span> wemeje kuri tangura agakino ucubona </span>
            <span>ahantu hakubaza ati sokwe, nawe </span>
            <span>wishura niruze, hama ugaca uronka </span>
            <span>igisokozo ugaca ubona ninyishu zo </span>
            <span>guhitamwo mugihe utoye inyishu nziza, </span>
            <span> iyitari nziza nahonyene</span>
            <span>urabimenyeshwa nomugihe utoye </span>
            <span>urabimenyeshwa kandi urerekwa </span>
            <span>ninyishu nziza wari gutora kandi ugaca</span>
            <span>uronka ninsiguro yico gisokozo</span>









 
 
 
 
 

 
 

        </p>
    </div><br><br><br><br><br>
    <div 
    class="w-100 h-100 align-items-center d-flex justify-content-center"
    routerLink="">
        <button
         style="border: 10%; border:none" class="bg-main rounded text-white p-2 px-4">
            <b>Ibikurikira</b>
        </button>
    </div>
</div>
