<div class="w-100 h-100 d-grid justify-content-center ">
  <div class="mt-5 pt-5 d-grid">
    <span class="d-flex justify-content-center">
      <i class="fa-regular fa-face-frown-open fs-1 text-secondary"></i>
    </span>
    <span class="text-center text-secondary h5">
      Urugero rwa gatatu ntiruratunganwa neza, Gerageza urundi rugero

    </span>
    <div 
    class="w-100 align-items-center d-flex justify-content-center"
    >
        <button
        (click)="goBack()"
         style="border: 10%; border:none" class="bg-main rounded text-white p-2 px-4">
            <b>subira inyuma</b>
        </button>
    </div>
  </div>
</div>
