<div class="bg-main w-100 d-flex justify-content-between align-items-center" style="z-index:25">
 
    <div 
    class="p-1 ps-2 d-flex align-items-center" 
    routerLink="" 
    role="button"
    >
        <div
        *ngIf="canGoBack"
        class="pe-2">
            <app-go-back></app-go-back>
           
        </div>

        <span class="lg-fs text-white">Ibisokozo</span>
    </div>
    

    <div>
        <div class="pe-2">
        <div 
        *ngIf="isAuthenticated"
        role="button"
        class="text-white"
        (click)="toggleMenu()"
        >
            <span class="xl-fs">
               <i class="fa fa-bars"></i>
            </span>

        </div>
        <div 
        *ngIf="!isAuthenticated"
        routerLink="/login"
        class="xl-fs text-white "
        role="button">
            <span
            >
                <i class="fa fa-sign-in-alt"></i>
             </span>

        </div>

    </div>
    <div
     class="bg-main text-white position-fixed mt-2 rounded menu h-100 w-100" 
     style="right:0; z-index:25; top:0"
     *ngIf="isMenuShown">
     <div class="d-flex align-items-center justify-content-between w-100 px-4">
        <div class="d-flex align-items-center">
            <div
            class="me-2">
                <img 
                class="rounded-circle"
                style="width:50px; height:50px; border:2px solid white"
                src="../../../assets/images/profile.jpg" 
                alt="">
            </div>
            <div class="d-grid">
                <span>Don Delice Dushime</span>
                <b>@dondelice257</b>
            </div>
        </div>
        <div>
            <span 
            class="xl-fs"
            role="button"
            (click)="toggleMenu()">
                <i class="fa fa-xmark"></i>
            </span>
        </div>
     </div>
     <hr class="px-4">

        <div class="mx-4 mt-1">
            <div 
            class="d-flex align-items-center my-3 mb-4 justify-content-between fs-3" 
            role="button"
            (click)="changeMenu('profile')"
            >
            <div
            class="d-flex align-items-center">
                <i class="fa fa-user-circle me-2 fs-1"></i>
                <span>My profile</span>
            </div>
            <span>
                <i class="fa fa-chevron-right"></i>
            </span>
                
            </div>
            <div 
            class="d-flex align-items-center my-3 mb-4 justify-content-between fs-3" 
            role="button"
            (click)="changeMenu('most-score')"
            >
            <div
            class="d-flex align-items-center">
                <i class="fa fa-star me-2 fs-1"></i>
                <span>Most score</span>
            </div>
            <span>
                <i class="fa fa-chevron-right"></i>
            </span>
                
            </div>

            <div 
            class="d-flex align-items-center my-3 mb-4 justify-content-between fs-3" 
            >
            <div
            class="d-flex align-items-center">
                <i class="fa fa-gear me-2 fs-1"></i>
                <span>Settings</span>
            </div>
            <span>
                <i class="fa fa-chevron-right"></i>
            </span>
                
            </div>
            <div 
            class="d-flex align-items-center my-3 mb-4 fs-3" 
            >
            <div
            class="d-flex align-items-center"
            (click)="openModal()"
            role="button"
            >
                <i class="fa fa-sign-out-alt me-2 fs-1"></i>
                <span>Logout</span>
            </div>
            <!-- <span>
                <i class="fa fa-chevron-right"></i>
            </span> -->
                
            </div>
           
        </div>
       

    </div>
    </div>
    
</div>

<dialog id="favDialog" class="rounded mx-2 shadow" style="border: none; max-width: 500px">
    <div>
        <p class="text-center" style="color: #f27474; font-size: 60px">
            <i class="fa-regular fa-circle-question"></i>
        </p>
        <p
            style="font-weight: 900; font-size: 20px"
            class="text-center"
        >
            Would you like to disconnect in Ibisokozo App
        </p>
        <div class="text-center mt-3">
            <button
                type="button"
                class="btn btn-primary btn-sm me-3"
                (click)="logout()"
            >
                Yes
            </button>

            <button
                type="button"
                class="btn btn-dark btn-sm"
                (click)="closeModal()"
            >
                No
            </button>
        </div>
    </div>




</dialog>