

@import 'node_modules/bootstrap/scss/bootstrap';

*{
  font-family: 'Roboto', sans-serif; 
}


$font-sizes: (
  'xsm': 12px,
  'sm': 14px,
  'md': 16px,
  'lg': 24px,
  'xl': 36px,
  'xxl': 48px,
);

@each $breakpoint, $font-size in $font-sizes {
  .#{$breakpoint}-fs {
    font-size: $font-size;
  }
}

$font-weights: (
  'light': 300,
  'normal': 400,
  'bold': 700,
);
@each $weight, $value in $font-weights {
  .font-#{$weight} {
    font-weight: $value;
  }
}




$colors: (
  'main': #3ded97,
  'grey': #b7b2b2,
  'black': #000,
  'white': #fff,
  'success': rgb(144, 175, 114),
  'danger': rgb(200, 52, 52),
);

@each $color-name, $color-value in $colors {
  .bg-#{$color-name} {
    background-color: $color-value;
  }

  .text-#{$color-name} {
    color: $color-value;
  }
}

button:hover{
  background-color: #18b86b;  
}




