

<audio #correctAudioElement src="../../../assets/audios/claps-44774.mp3" controls hidden></audio>
<audio #incorrectAudioElement src="../../../assets/audios/negative_beeps-6008.mp3" controls hidden></audio>

     <div class="d-flex justify-content-center">
        <img
        [ngClass]="{'position-absolute': true, 'animate-slide': animateImage}"
          *ngIf="correctAnswerImageVisible"
          class="position-absolute"
          style="filter: invert(50%); width: 70px"
          src="../../../assets/images/one.png"
          alt=""
        >
      </div>
      
     




<div 
class="mt-5 ms-4 pt-5" 
*ngIf="!niruze"
>
    <div>
        <div class="w-100 h-100 align-items-center d-flex justify-content-center mb-4">
            <b class="lg-fs">Sokwe !</b>
        </div><br><br>
        <div>
            <div class="w-100 h-100 align-items-center d-flex justify-content-center">
                <button
                 style="border: 10%; border:none" 
                 class="bg-main rounded text-white p-2"
                 (click)="niruze=true">

                    <b class="me-1">Niruze</b>
                <i class="fa fa-arrow-right"></i>


                </button>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <img 
                style="width: 70px;"
                class="bg-main"
                src="../../../assets/images/rocket.gif" 
                alt="">
                 

            </div>

        </div>
    </div>
</div>
<div 
class="igisokozo slide-in"
*ngIf="niruze"
>
<div
class="slide-in px-3"
*ngIf="igisokozo">
    <div 
    class="w-100 d-grid justify-content-between">
        <div 
         *ngIf="!isAuthenticated"
         class="bg-light mt-1 rounded p-0 border border-warning">
            <span class="m-1">uripfuza kubika amanota yawe ? <b 
                routerLink="/login"
                role="button"
                class="text-main">injira</b></span>
        </div>
        <b class="float-end">amanota : {{score}}</b>
    </div>
    <div class="d-flex w-100 justify-content-center fs-2 mt-3 mb-2 slide-in">
        <span class="slide-in">
            {{igisokozo.igisokozo}}
        
        </span>
    </div>


    <div>
        <div
        class="slide-in">
            <div
            class="slide-in"
            *ngFor="let item of igisokozo.options; let i=index"
            role="button"
             (click)="checkAnswer(item)"
             [ngClass]="{
                'not-clickable': answerDisabled
             }"

            >
             <input 
             type="radio"
             style="visibility: hidden;"
             id="choice"
             name="choice" 
             class="form-check-inputborder border-dark p-2 me-2 custom-radio text-success"
             [disabled]="answerDisabled"
            
            >
            <label 
            for="choice"
            class="initial-status rounded p-2 w-100 me-2 mb-1"
            [ngClass]="{
                'success-status':item===igisokozo.inyishu.inyishu && highlightAnswers,
                'danger-status':selectedAnswer !== igisokozo.inyishu.inyishu && highlightAnswers && item==selectedAnswer,
            }">
                <div
            class=""

            >
             <span class="d-flex">
                <span class="me-1">{{i+1}}. </span>
                <span>{{item}}</span>
                
            </span>

            </div>
            </label>
            

            </div>
        </div>
    </div>

<div class="mt-5 me-2 float-end">
    <button
    (click)="getIgisokozo()"
        type="button"
        class="rounded p-2 bg-main text-white"
        style="border: none; "
    >
        <b>
        Igikurikira

        </b>
        <i class="fa fa-arrow-right"></i>
        
    </button>
</div>

</div>
<div class="w-100 d-flex justify-content-center">


</div>

<router-outlet></router-outlet>

