<div class="user-profile mt-2">
    <!-- <div class="ps-2 pt-1">
        <app-go-back></app-go-back>
       
    </div> -->
    <div class="d-grid">
        <div class="ms-2 mb-4">
            <b class="text-muted">umwindondoro wanje</b>

        </div>
        <div *ngIf="!user">
            <div class="d-flex justify-content-center">
                <ngx-skeleton-loader [theme]="{height: '250px', width: '250px' }" appearance="circle"></ngx-skeleton-loader>
            
                </div>
                <div class="mt-5 mx-3">
                    <span 
                    class="w-75"
                    *ngFor="let loader of [1, 2, 3]; let i=index"
                    [ngClass]="{
                        'w-75':i ==1
                    }">
                <ngx-skeleton-loader [theme]="{height: '25px', }"></ngx-skeleton-loader>
            
            
                    </span>
                </div>

        </div>
        
        <div 
        *ngIf="user"
        class="">
            <div class="profile-info text-center d-grid">
                <div class="d-flex justify-content-center">
                    <img 
                     src="../../../assets/images/userprofile.png" 
                    alt="User Photo" 
                    style="width:250px; height:250px"
                    class="profile-photo img-fluid rounded-circle"
                    >

                </div>
                <b
                *ngIf="!editProfile" 
                class="profile-name mt-3"
                style="font-size: 20px;">{{user.first_name}} {{user.last_name}}</b>
                <div
                *ngIf="editProfile" 
                class="w-100 d-flex justify-content-center mt-3">
                    <input 
                type="text"
                class="input form-control w-50"
                value="Don Delice Dushime"
                autofocus>
                </div>
                
                <p class="profile-points text-muted">
                    <i>{{user.username}}</i>
                </p>
                <p class="profile-points text-muted">
                    <b
                    class="fs-4"
                    style="font-style: oblique;"
                    >{{user.score}} points</b>
                </p>
            </div>

            <div>
                <div class="w-100 d-flex justify-content-center">
                    <button 
                    class="btn btn-outline-dark"
                    [ngClass]="{
                        'bg-black':editProfile
                    }"
                    (click)="editProfile=!editProfile">
                    <b
                *ngIf="!editProfile" 
                >Edit profile</b>
                    <b
                    
                *ngIf="editProfile" 
                >
                <span
                [ngClass]="{
                    'text-white':editProfile
                }">save</span>
                </b>
                </button>
                </div>
            </div>
            
        </div>
    
       
    </div>
</div>
